/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: var(--ff-epiloque);
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



}
h1 {
  color: var(--dark-blue-color);
}

/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
