/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

$ff-epiloque: "Epilogue", sans-serif;

html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.6rem;
  color: $dark-blue-color;
  margin-bottom: 0;
}
/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
/* Images */
img {
  width: 100%;
}
/* Spans */
span {
  font-weight: weight(regular);
}
