@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Pallete Variables */
/* Font Weight Variables */
/* Media Queries Variables */
/* Typography */
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.6rem;
  color: #172339;
  margin-bottom: 0;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
li {
  list-style: none;
}

/* Images */
img {
  width: 100%;
}

/* Spans */
span {
  font-weight: 400;
}

/* Buttons */
.btn {
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  color: #172339;
  border: 1px solid #172339;
  background-color: #faf8f6;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  letter-spacing: -0.14px;
}

.btn--primary:hover {
  background-color: #172339;
  color: #faf8f6;
}

@media screen and (max-width: 370px) {
  .btn--primary {
    font-size: 1.2rem;
  }
}

.btn--secondary {
  color: #faf8f6;
  font-size: 1.8rem;
  letter-spacing: -0.18px;
  background-color: #172339;
  padding: 1.5rem 3.1rem;
}

.btn--secondary:hover {
  background: #a060ff;
  background: linear-gradient(166deg, #a060ff 0%, #cb30e3 38%, #ffa84e 91%);
}

@media screen and (max-width: 370px) {
  .btn--secondary {
    font-size: 1.5rem;
  }
}

/* Body */
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  background-color: #faf8f6;
}

/* Header */
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.4rem 1.6rem 5.6rem;
}

.heading .logo {
  width: 8.1rem;
  height: 3.2rem;
}

@media screen and (min-width: 767.98px) {
  .heading {
    margin: 4rem 4rem 8rem;
  }
}

@media screen and (min-width: 1199.98px) {
  .heading {
    margin: 5rem 16.5rem 6.7rem;
  }
}

/* Hero */
.hero {
  text-align: left;
  margin: 0 1.6rem 5.5rem;
}

.hero .line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .hero__line {
  width: 18rem;
  padding-right: 2.5rem;
}

.hero .hero__heading {
  margin-bottom: 3.5rem;
}

.hero .hero__text {
  color: #49566d;
  margin-bottom: 3.5rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 370px) {
  .hero .hero__line {
    width: 15.5rem;
    padding-right: 2.5rem;
  }
  .hero .hero__heading {
    font-size: 3rem;
  }
  .hero .hero__text {
    color: #49566d;
    margin-bottom: 3.5rem;
    font-size: 1.3rem;
  }
}

/* Phone Image Container */
.phone-container {
  margin: 0 1.6rem 5.6rem;
}

.phone-container .phone-container__image {
  display: block;
}

/* Statistics */
.statistics {
  text-align: center;
}

.statistics .statistics__text {
  color: #49566d;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.statistics .stat {
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 370px) {
  .statistics .statistics__heading {
    font-size: 3rem;
  }
  .statistics .statistics__text {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */