@import "resets";
@import "functions";
@import "variables";
@import "typography";
@import "buttons";

/* Body */
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: $ff-epiloque;
  background-color: $cream-white-color;
  height: 100vh;
  position: relative;
}
/* Header */
.heading {
  @include flexSpaceBetween();
  margin: 2.4rem 1.6rem 5.6rem;

  .logo {
    width: 8.1rem;
    height: 3.2rem;
  }

  @media screen and (min-width: $small) {
    margin: 4rem 4rem 8rem;
  }
  @media screen and (min-width: $large) {
    margin: 5rem 16.5rem 6.7rem;
  }
}
/* Decoration Line */
.line-wrapper {
  @include flexEnd(row);

  .hero__line {
    width: 19rem;
    padding-right: 5rem;
  }

  @media screen and (max-width: $xs-small) {
    .hero__line {
      width: 16.5rem;
      padding-right: 4rem;
    }
  }

  @media screen and (min-width: $x-small) {
    .line-wrapper {
      position: relative;
    }
    .hero__line {
      width: 30rem;
      position: absolute;
      top: 17%;
      left: 32%;
      z-index: 1;
    }
  }
}
/* Hero */
.hero {
  text-align: left;
  margin: 0 1.6rem 5.5rem;

  #{&}__heading {
    margin-bottom: 3.5rem;
  }

  #{&}__text {
    color: $grey-font-color;
    margin-bottom: 3.5rem;
    font-size: 1.6rem;
  }

  @media screen and (max-width: $xs-small) {
    #{&}__heading {
      font-size: 3rem;
    }
    #{&}__text {
      color: $grey-font-color;
      margin-bottom: 3.5rem;
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: $x-small) {
    & {
      position: absolute;
      display: flex;
      flex-direction: column;
      margin: 0 4rem 5.5rem;
      top: 20%;
    }
    #{&}__heading {
      margin-bottom: 6.5rem;
      width: 75%;
    }
    #{&}__text {
      width: 52%;
      margin-bottom: 6.5rem;
    }
  }
}
/* Phone Image Container */
.phone-container {
  margin: 5.5rem 0;

  #{&}__image {
    display: block;
  }

  @media screen and (min-width: $x-small) {
    & {
      position: relative;
      width: 100%;
      margin: 0;
    }
    .phone__image {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 28.1rem;
      height: 48.2rem;
      z-index: -1;
    }
  }
}
/* Statistics */
.statistics {
  text-align: center;

  #{&}__text {
    color: $grey-font-color;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  @media screen and (max-width: $xs-small) {
    #{&}__heading {
      font-size: 3rem;
    }
    #{&}__text {
      font-size: 1.3rem;
    }
  }
  .stat {
    margin-bottom: 3.2rem;
  }
}
@media screen and (min-width: $x-small) {
  .statistics {
    @include flexSpaceEvenly;
    margin-top: 8.8rem;
  }
  .stat {
    margin-bottom: 0;
  }
}
/* Tomporary */
footer {
  position: absolute;
  bottom: 0;
}
