@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Pallete Variables */
/* Font Weight Variables */
/* Media Queries Variables */
/* Typography */
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.6rem;
  color: #172339;
  margin-bottom: 0;
}

@media screen and (min-width: 575.98px) {
  h1 {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1199.98px) {
  h1 {
    font-size: 7.2rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: weigth(bold);
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
li {
  list-style: none;
}

/* Images */
img {
  width: 100%;
}

/* Spans */
span {
  font-weight: 400;
}

/* Buttons */
.btn {
  border-radius: 4px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  color: #172339;
  border: 1px solid #172339;
  background-color: #faf8f6;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  letter-spacing: -0.14px;
}

.btn--primary:hover {
  background-color: #172339;
  color: #faf8f6;
}

@media screen and (max-width: 370px) {
  .btn--primary {
    font-size: 1.2rem;
  }
}

.btn--secondary {
  color: #faf8f6;
  font-size: 1.8rem;
  letter-spacing: -0.18px;
  background-color: #172339;
  padding: 1.5rem 3.1rem;
}

.btn--secondary:hover {
  background: #a060ff;
  background: linear-gradient(166deg, #a060ff 0%, #cb30e3 38%, #ffa84e 91%);
}

@media screen and (max-width: 370px) {
  .btn--secondary {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575.98px) {
  .btn--secondary {
    font-size: 1.8rem;
  }
}

/* Body */
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  background-color: #faf8f6;
  height: 100vh;
  position: relative;
}

/* Header */
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.4rem 1.6rem 5.6rem;
}

.heading .logo {
  width: 8.1rem;
  height: 3.2rem;
}

@media screen and (min-width: 767.98px) {
  .heading {
    margin: 4rem 4rem 8rem;
  }
}

@media screen and (min-width: 1199.98px) {
  .heading {
    margin: 5rem 16.5rem 6.7rem;
  }
}

/* Decoration Line */
.line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.line-wrapper .hero__line {
  width: 21rem;
  padding-right: 5rem;
}

@media screen and (max-width: 370px) {
  .line-wrapper .hero__line {
    width: 16.5rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 575.98px) {
  .line-wrapper .line-wrapper {
    position: relative;
  }
  .line-wrapper .hero__line {
    width: 30rem;
    position: absolute;
    top: 22%;
    left: 34%;
    z-index: 1;
  }
}

@media screen and (min-width: 1199.98px) {
  .line-wrapper .hero__line {
    width: 33rem;
    top: 17%;
    left: 33%;
    z-index: 1;
  }
}

/* Hero */
.hero {
  text-align: left;
  margin: 0 1.6rem 25rem;
}

.hero .hero__heading {
  margin-bottom: 3.5rem;
}

.hero .hero__text {
  color: #49566d;
  margin-bottom: 3.5rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 370px) {
  .hero .hero__heading {
    font-size: 3rem;
  }
  .hero .hero__text {
    color: #49566d;
    margin-bottom: 3.5rem;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 575.98px) {
  .hero {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 4rem 7.5rem;
    top: 25%;
  }
  .hero .hero__heading {
    margin-bottom: 6.5rem;
    width: 75%;
  }
  .hero .hero__text {
    width: 52%;
    margin-bottom: 6.5rem;
  }
}

@media screen and (min-width: 1199.98px) {
  .hero {
    margin: 0 16.6rem 5.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero__heading {
    margin-bottom: 6.5rem;
    width: 75%;
  }
  .hero .hero__text {
    font-size: 2.5rem;
    width: 52%;
    margin-bottom: 6.5rem;
  }
}

/* Phone Image Container */
.phone-container {
  margin: 5.5rem 0;
}

.phone-container .phone-container__image {
  display: block;
}

@media screen and (min-width: 575.98px) {
  .phone-container {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .phone-container .phone__image {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 28.1rem;
    height: 48.2rem;
    z-index: -1;
  }
}

@media screen and (min-width: 1199.98px) {
  .phone-container .phone__image {
    width: 35rem;
    height: 60rem;
    left: 50%;
  }
}

/* Statistics */
.statistics {
  text-align: center;
}

.statistics .statistics__text {
  color: #49566d;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

@media screen and (max-width: 370px) {
  .statistics .statistics__heading {
    font-size: 3rem;
  }
  .statistics .statistics__text {
    font-size: 1.3rem;
  }
}

.statistics .stat {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 575.98px) {
  .statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8.8rem;
  }
  .stat {
    margin-bottom: 0;
  }
  .statistics__heading {
    font-size: 4.8rem;
  }
  .statistics__text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1199.98px) {
  .statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: left;
  }
  .stat {
    margin-bottom: 0;
  }
  .statistics__heading {
    font-size: 4.8rem;
  }
  .statistics__text {
    font-size: 1.5rem;
  }
}

/* Footer */
.footer-container {
  position: relative;
  background-color: #f3ede7;
}

.footer-container .footer__card {
  position: relative;
  background-color: #172339;
  text-align: center;
  border-radius: 15px;
}

.footer-container .jeremy {
  position: absolute;
  width: 21rem;
  height: 35rem;
  top: -30%;
  left: 22%;
}

.footer-container .footer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20rem 0 0;
}

.footer-container .footer__line {
  width: 4.9rem;
  height: 4rem;
  margin-bottom: 3rem;
}

.footer-container .testimony__heading {
  color: #faf8f6;
}

.footer-container .testimony__text {
  color: #f3ede7;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 4rem 1.6rem;
}

.footer-container .quote__author {
  color: #faf8f6;
}

.footer-container .company {
  color: #f3ede7;
  padding-bottom: 6.4rem;
  font-size: 1.6rem;
  letter-spacing: 2.5px;
}

@media screen and (min-width: 575.98px) {
  .footer-container .testimony__text {
    padding: 4rem 5.8rem;
  }
}

@media screen and (max-width: 320px) {
  .footer-container .jeremy {
    left: 23%;
  }
}

@media screen and (min-width: 575.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: -105%;
    width: 100vw;
  }
  .footer__card {
    width: 68.9rem;
    height: 68.4rem;
  }
}

.media-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media-section .logo-wrapper {
  text-align: center;
}

.media-section .footer-logo {
  width: 8.1rem;
  height: 3.2rem;
  margin-top: 5.6rem;
}

.media-section .copyright {
  text-align: center;
  margin-top: 3.3rem;
  color: #49566d;
}

@media screen and (min-width: 575.98px) {
  .media-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.media-links .icon {
  width: 2rem;
  height: 2rem;
  margin: 3.3rem 2rem 8rem;
}

/* Author */
.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: #172339;
}
/*# sourceMappingURL=styles.css.map */